.product-container {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 100px;
}

.product-img {
    height: 150px;
    width: 120px;
}