.ant-carousel .slick-slide {
  text-align: center;
  height: 100px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

img {
  height: 350px;
  width: 100%
}

.carousel-main {
  height: 400px;
  width: 1100px;
}